body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 63px;
}

.logo {
    display: inline;
    margin-right: 850px;
    width: 334px;
    height: 79px;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;

    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
}

span {
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
}

.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 68px;
    background-color: #35444F;
    margin-top: 40px;
    margin-left: 100px;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.item-1 {
    display: flex;
    width: 266px;
    height: 27px;
    padding: 23px 32px 19px 192px;
    margin-left: 160px;
    text-decoration: none;
    padding-right: 32px;
    padding-left: 32px;
    padding-left: 32px;
    border: 1px solid #FFFFFF;
    

    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-2 {
    display: flex;
    width: 77px;
    height: 27px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 23px 38px 19px 38px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    

    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-3 {
    display: flex;
    width: 204px;
    height: 27px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 23px 40px 19px 40px;
    text-decoration: none;
    border: 1px solid #FFFFFF;

    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-4 {
    display: flex;
    width: 163px;
    height: 27px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 23px 18px 19px 18px;
    margin-right: 132px;
    text-decoration: none;
    border: 1px solid #FFFFFF;

    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left-menu {
    display: flex;
    width: 344px;
    height: 399px;
    border: 1px solid #495863;
    margin: 40px 52px 484px 100px;
}

.item-5 {
    display: flex;
    width: 106px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    padding: 25px 194px 25px 44px;

    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.item-6 {
    display: flex;
    width: 226px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    padding: 25px 78px 25px 44px;

    color: #35444F;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.item-7 {
    display: flex;
    width: 220px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    padding: 25px 82px 25px 44px;

    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.item-8 {
    display: flex;
    width: 179px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    padding: 25px 121px 25px 44px;

    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.item-9 {
    display: flex;
    width: 153px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-decoration: none;
    padding: 25px 147px 25px 44px;

    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.content {
    width: 885px;
    margin-top: 49px;
}

.picture {
    display: flex;
    width: 320px;
    height: 381px;
    border: 1px solid #000;
    padding: 75px 260px 73px 297px;
    background-color: #FFFFFF;
}

.paragraph-1 {
    display: flex;
    margin-top: 37px;
    margin-bottom: 13px;

    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.paragraph-2 {
    display: flex;
    margin-bottom: 54px;

    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 69px;
    background-color: #63696E7A;
    margin-bottom: 30px;
    margin-left: 120px;
}

.menu-footer {
    width: 100%;
}

.footer-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

.item-10 {
    display: flex;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    margin-right: 30px;
}

.item-11 {
    display: flex;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    margin-right: 30px;
}

.item-12 {
    display: flex;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    margin-right: 30px;
}
.item-13 {
    display: flex;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    margin-right: 30px;
}

.item-14 {
    display: flex;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    margin-right: 30px;
}

.copyright {
    display: flex;
    width: 190px;
    height: 69px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.item-11:hover {
    color: #3181A6;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3181A6;
}

.item-6:hover {
    color: #000;
    background-color: #DBDBDB;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    border-left: 1px solid #DBDBDB;
}

.item-2:hover {
    background-color: #222F3A;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photo {
    overflow: hidden;
  }

img {
    transition: transform 0.25s;
  }

.photo:hover img {
    transform: scale(1.1);
  }
